* {
  box-sizing: border-box;
}

body {
  font-family: "Itim", cursive;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;900&family=Kirang+Haerang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
